<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="not-fount content">
        404! Page Not Found.
    </div>

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>
</body>
</html>