<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Node Blog</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quod.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam odit repellendus dignissimos est fugiat.
            Facere nam delectus soluta repudiandae aliquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, dolore.</p>
    </div>

    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>     
</body>

</html>